html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(200, 200, 200);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5em 2em; 
    align-items: center;
}


#logocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 7em;
    height: 7em;
}

#title {
    display: block;
    font-size: 1.7em;
    color: rgb(58, 58, 58);
    font-family: 'Gantari', sans-serif;
}

#menucontainer {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2em;
}

.menubtn {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.5em;
    border-color: transparent;
    border-width: 0.15em;
    color: rgb(58, 58, 58);
    font-family: 'Gantari', sans-serif;
    font-size: 1.1em;
    transition: 0.3s;
}

.menubtn:hover {
    border-bottom-color: rgb(58, 58, 58);
}

.activemenubtn {
    background-color: rgb(58, 58, 58);
    color: rgb(200, 200, 200);
}

#firstsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#txt1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 1;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-style: italic;
    font-size: 3em;
    text-align: left;
    color: rgb(58, 58, 58);
    padding-left: 2em;
}

#img1sct {
    display: flex;
    justify-content: right;
    align-items: center;
    order: 2;
    width: 50%;
}

#img1:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

#img1 {
    width: 100%;
    height: auto;
    border-radius: 3% 0 0 3%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.numscttitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    color: rgb(58, 58, 58);
}

.numsctnum {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: rgb(58, 58, 58);
}

#numsct {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
}

#numsctprj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#worksection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

#titleworksection {
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    color: rgb(58, 58, 58);
    order: 1;
}

#workcardsection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    order: 2;
    padding: 3em;
    font-family: 'Bitter', serif;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(58, 58, 58);
}

.workcardimg {
    height: 7em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 0.7em 0.7em 0 0;
    box-shadow: 0px 0px 51px -7px rgba(56,56,56,0.69);
}

.workcardcontent {
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    color: rgb(200, 200, 200);
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;
    border-radius: 0 0 0.7em 0.7em;
    box-shadow: 0px 0px 51px -7px rgba(56,56,56,0.69);
    width:10em;
    height: 4em;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -3em;
    transform: translateX(-50%);
    border-radius: 5em;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(172, 172, 172);
    height: 6em;
    width: 6em;
    box-shadow: 0px 0px 51px -7px rgba(56,56,56,0.69);
  }

  .reveal{
  opacity: 0;
}

.reveal.active{
      transition: 0.5s ease;
    opacity: 1;
}